@import url('https://fonts.googleapis.com/css2?family=Alegreya&family=Amita&family=Baloo+2:wght@500&family=Gotu&family=Halant:wght@300&family=Nanum+Gothic&family=Rozha+One&display=swap');

:root{
    --primary-color: #14532d;
    --secondary-color: #fdba74;
}

*{
    margin: 0%;
    box-sizing: border-box;
}

body{
    font-family: 'Rozha One', serif;
    color: var(--secondary-color);
    background-color: #111827;
}

/* heading */
#heading{
    background-color: var(--primary-color);
    color: var(--secondary-color);
    text-align: center;
    font-size: 3rem;
    padding: 1rem 0;
}

/* container */
#container{
    margin: auto;
    padding: 1rem;
    max-width: 650px;
}

.align{
    margin: 0.5rem;
    /* padding: auto; */
}

#textInput{
    box-sizing: border-box;
    border: 1px solid black;
    border-radius: 0.5rem;
    display: block;
    width: 100%;
    height: 18vh;
    padding: 1rem;
}

#btnTranslate{
    background-color: var(--primary-color);
    color: var(--secondary-color);
    border: none;
    padding: 0.8rem 3rem;
    font-size: large;
    font-weight: bold;
    border-top-left-radius: 1rem;
    border-top-right-radius: 1rem;
}

#output{
    border: 1px solid black;
    display: block;
    width: 100%;
    height: 14vh;
    padding: 1rem;
    font-size: larger;
    background-color: white;
    color: black;
    overflow:scroll;
}

/* footer */
.footer{
    background-color: var(--primary-color);
    color: var(--secondary-color);
    text-align: center;
    width: 100%;
    padding: 2rem;
    position: fixed;
    bottom: 0;
}

